/*BODY SECTION*/
.everything {
  background-color: #ffd369;
}

/* HEADING SECTION */
.brushimg {
  width: 12%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title {
  color: black;
  font-size: 120px;
  font-family: 'Roboto', sans-serif;
  text-align: center;

}

.utitle {
  color: black;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-bottom: 200px;

}

.heading {
  color: black;
  font-size: 70px;
  font-family: 'Roboto', sans-serif;
  text-align: center;

}

.paragraph {
  color: black;
  margin: auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 200px;
  width: 50%;
  font-weight: bold;
}



/* ABOUT US*/
.rollerimg {
  width: 12%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*WHAT WE DO*/
.bucketimg {
  width: 12%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}



.oureffectimg1 {
  width: 20%;
  position: relative;
  left: 100px;
}

.oureffectimg2 {
  width: 20%;
  position: relative;
  left: 600px;
}

/*CONTACT US*/
#paragraphCU {
  color: black;
  margin: auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  width: 50%;
  font-weight: bold;
}

.noteimg {
  width: 12%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: 25px;
}
